/* generated user stylesheet */
a.new, #quickbar a.new { color: #CC2200; }

/*
     FILE ARCHIVED ON 10:04:41 Mar 28, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:42:00 Dec 04, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 77.848
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.058
  cdx.remote: 0.054
  esindex: 0.009
  LoadShardBlock: 54.243 (3)
  PetaboxLoader3.datanode: 64.994 (4)
  load_resource: 94.304
  PetaboxLoader3.resolve: 52.356
*/