/* KHTML fix stylesheet */
/* work around the horizontal scrollbars */
#column-content { margin-left: 0; }


/*
     FILE ARCHIVED ON 03:20:16 May 03, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:42:01 Dec 04, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 96.703
  exclusion.robots: 0.118
  exclusion.robots.policy: 0.104
  cdx.remote: 0.086
  esindex: 0.054
  LoadShardBlock: 68.413 (3)
  PetaboxLoader3.datanode: 51.141 (4)
  PetaboxLoader3.resolve: 55.288 (2)
  load_resource: 58.335
*/